{% extends 'base/base.html' %}
{% block page_content %}


    <div class='about_me'>
        <p class="user_info">
            I believe that knowledge must be shared so that each of us can make smart and wise choices about what is
            right
            for him or her and what is not in the world of healthy and balanced eating.

            I believe in the power of informed choice. That is why I spend my days in constant trainings, workshops
            and
            seminars to provide you with the latest, most useful, most complete, highest quality and scientifically
            proven
            information on the topic of food and health.
            My philosophy about life is that we control our destiny and we can change it. Just as we can change the
            way we
            eat, feel, live. We decide what is best for us. Every minute, we make a choice - to be healthy or to eat
            unreasonably, to be angry about small things or to find a way to calm down, play sports or sit in front
            of the
            TV, to be balanced or not. It's simple. And it's up to you.
            Remember that the power of change is in your hands and I feel deeply privileged to help you reach your
            full
            potential. Because in order to move forward and change the world, we must first take care of ourselves…
            <br>
            <br>
            <span class="name">Ivelina Genova</span>

        </p>
    <div class="iva_image_profile"></div>
    </div>


{% endblock %}