<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/create_account.css">
    <title>Create Your account</title>
</head>

<body>

<h1>Create Your account</h1>
<form class='user_login' action="{% url 'user register' %}" method="post">
    {% csrf_token %}
    {{ form }}
    {##}
    {#    <label class="user_info name" for="firstName">#}
    {#        Name <input type="text" name="first_name" maxlength="20" required="" id="firstName" class="first_name">#}
    {#    </label>#}
    {##}
    {#   <label class='user_info email' for="email_register">#}
    {#       Email <input type="email" class="email_register" maxlength="20" name="email" required="" id="email_register">#}
    {#   </label>#}
    {##}
    {#    <label class="user_info password" for="password">#}
    {#        Password <input type="password" name="password" maxlength="20" required="" id="password" class="password">#}
    {#    </label>#}

    <button type="submit" class="btn_create_account">Create Мy Account</button>
</form>

</body>

</html>