<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/login.css">
    <title>Log In</title>
</head>

<body>

<h1>Log into My account</h1>
<form class='user_login' action="{% url 'user login' %}?next={{ next }}" method="post"> <!---->
    {% csrf_token %}
    {{ form }}


    {# <label class='user_info email' for="email_register">#}
    {#        Email <input type="email" class="email_register" maxlength="20" name="email" required="" id="email_register">#}
    {#    </label>#}
    {##}
    {#    <label class="user_info password" for="password">#}
    {#        Password <input type="password" name="password" maxlength="20" required="" id="password" class="password">#}
    {#    </label>#}

    <button type="submit" class="btn_create_account">Log in</button>

    <button class="btn_delete_account" formaction="{% url 'password_reset' %}" formmethod="get" type="submit">
        Reset Password
    </button>
</form>

</body>

</html>