{% extends 'base/base.html' %}

{% block page_content %}


    <h1>Reset my password</h1>
    <form class='user_login' action="{% url 'password_reset' %}" method="post"> <!---->
        {% csrf_token %}
        {{ form }}


        {# <label class='user_info email' for="email_register">#}
        {#        Email <input type="email" class="email_register" maxlength="20" name="email" required="" id="email_register">#}
        {#    </label>#}
        {##}
        {#    <label class="user_info password" for="password">#}
        {#        Password <input type="password" name="password" maxlength="20" required="" id="password" class="password">#}
        {#    </label>#}

        <button type="submit" class="btn_create_account">Reset Password</button>


    </form>

{% endblock %}

