<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/hero.css">

    <title>Ivelina's blog</title>
</head>
<body>
<header></header>

<main>
    <section id="hero">
        <h1>
            " We are what we eat "
            <span>Healthy every day!</span>
        </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet excepturi, nihil optio eaque ab, soluta ea
           iusto earum ipsam commodi recusandae suscipit vitae quaerat sunt libero nostrum perferendis corrupti! Modi.
           Explicabo libero nostrum consectetur? Magnam facilis excepturi, voluptatum nisi repudiandae nihil expedita
           nulla, ipsa ducimus doloremque asperiores temporibus omnis voluptas officia aut odio autem quam ipsam labore
           sit. Molestiae, atque!
           Nostrum temporibus dolores quos similique suscipit delectus dicta perspiciatis nobis qui vitae. Quaerat ipsa,
           modi, unde facere animi aspernatur praesentium maiores fugiat vitae illo doloremque reiciendis, repudiandae
           labore rerum laboriosam.
           Facilis dolores sequi nihil, nemo repellendus quidem cum voluptatum labore, ipsam quos a laborum deserunt quo
           libero saepe asperiores amet odio quod. Quisquam odit impedit itaque, distinctio atque suscipit officiis!
           Odio porro quidem, eligendi accusamus sit nesciunt rem! Odio dignissimos soluta hic nihil natus laboriosam
           iste labore non, animi possimus. Veniam quod pariatur delectus eum itaque iure? Pariatur, id omnis.
           Recusandae, corrupti! Aperiam, at dolores! Cum exercitationem reprehenderit esse aliquam aspernatur
           perferendis, rem ex atque hic recusandae earum officia blanditiis pariatur, distinctio voluptates maiores
           doloribus quaerat doloremque ut aut iure?
           Quasi voluptas alias, possimus rerum nulla sit necessitatibus, saepe autem temporibus voluptatibus debitis
           nam quam dolorem. Aliquid pariatur, nobis omnis officiis perspiciatis porro esse sit debitis harum,
           accusantium ratione est.
           Error esse dolores aliquam deleniti, repellat maxime omnis reprehenderit dolorum assumenda possimus ad eum
           ipsam eius accusantium commodi in aperiam ea a tempore quia. Adipisci inventore non quibusdam eaque totam.
           Iure, quo dolore neque qui temporibus saepe aut error iste quae animi culpa, ratione modi autem! Quod dolores
           laudantium ex doloribus? Eum nihil consectetur facere accusantium fugit hic temporibus explicabo?
           Veniam assumenda a, amet minus debitis eligendi dicta temporibus ab sunt eaque saepe, molestias deserunt
           doloremque totam! Possimus, quisquam totam. A accusamus itaque cupiditate fugit animi, aperiam ullam
           eligendi? Fugiat.
           Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet excepturi, nihil optio eaque ab, soluta ea
           iusto earum ipsam commodi recusandae suscipit vitae quaerat sunt libero nostrum perferendis corrupti! Modi.
           Explicabo libero nostrum consectetur? Magnam facilis excepturi, voluptatum nisi repudiandae nihil expedita
           nulla, ipsa ducimus doloremque asperiores temporibus omnis voluptas officia aut odio autem quam ipsam labore
           sit. Molestiae, atque!
           Nostrum temporibus dolores quos similique suscipit delectus dicta perspiciatis nobis qui vitae. Quaerat ipsa,
           modi, unde facere animi aspernatur praesentium maiores fugiat vitae illo doloremque reiciendis, repudiandae
           labore rerum laboriosam.
           Facilis dolores sequi nihil, nemo repellendus quidem cum voluptatum labore, ipsam quos a laborum deserunt quo
           libero saepe asperiores amet odio quod. Quisquam odit impedit itaque, distinctio atque suscipit officiis!
           Odio porro quidem, eligendi accusamus sit nesciunt rem! Odio dignissimos soluta hic nihil natus laboriosam
           iste labore non, animi possimus. Veniam quod pariatur delectus eum itaque iure? Pariatur, id omnis.
           Recusandae, corrupti! Aperiam, at dolores! Cum exercitationem reprehenderit esse aliquam aspernatur
           perferendis, rem ex atque hic recusandae earum officia blanditiis pariatur, distinctio voluptates maiores
           doloribus quaerat doloremque ut aut iure?
           Quasi voluptas alias, possimus rerum nulla sit necessitatibus, saepe autem temporibus voluptatibus debitis
           nam quam dolorem. Aliquid pariatur, nobis omnis officiis perspiciatis porro esse sit debitis harum,
           accusantium ratione est.
           Error esse dolores aliquam deleniti, repellat maxime omnis reprehenderit dolorum assumenda possimus ad eum
           ipsam eius accusantium commodi in aperiam ea a tempore quia. Adipisci inventore non quibusdam eaque totam.
           Iure, quo dolore neque qui temporibus saepe aut error iste quae animi culpa, ratione modi autem! Quod dolores
           laudantium ex doloribus? Eum nihil consectetur facere accusantium fugit hic temporibus explicabo?
           Veniam assumenda a, amet minus debitis eligendi dicta temporibus ab sunt eaque saepe, molestias deserunt
           doloremque totam! Possimus, quisquam totam. A accusamus itaque cupiditate fugit animi, aperiam ullam
           eligendi? Fugiat.</p>
        <div class="overlay"></div>
        <buttom class="btn--primary">
            <a href="{% url 'user login' %}">Sign-In</a>
        </buttom>

        <buttom class="btn--secondary">
            <a href="{% url 'user register' %}">Register</a>
        </buttom>


    </section>

</main>


</body>
</html>