<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <title>Work with Ivelina</title>
</head>
<header class="header">

    <div class="header__logo">
        <p class="header__logo_name">Ivelina Genova</p>
        <p class="header__logo_nutrition">N U T R I T I O N</p>

        <p class="header__logo_motivation">" Begin your health journey "</p>
    </div>


    <!--    <button class="btn mobile-menu"><i class="fas fa-bars"></i></button>-->

    <nav class="header__nav">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__itemlink" href="index.html">Home</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="work_with_me_page.html">Work with me</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="profile_edit.html">Edit Profile</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="about_page.html">About</a>
            </li>


        </ul>

    </nav>
</header>
<body>

<main>
    <p>Request a Nutrition program based on NTA US principles</p>
</main>

</body>
</html>