/* Include padding and border in total box size*/
html {

    font-size: 1rem;

}

body {
    margin-top: 7.5rem;
}

/* Create two equal columns that float next to each other */
.about_me {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "user_info photo"
        "user_info photo";
    width: 100%;
    column-gap: 0.5rem;
    /*float: left;*/
    /*width: 45vw;*/
    /*height: 60vh;*/

    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/

    /*margin-right: 2rem;*/
    /*margin-bottom: 10rem;*/
    /*margin-top: 12rem;*/


}


.user_info {
    display: inline-flex;
    flex-direction: column;
    height: 60vh;
    font-family: "Archivo", sans-serif;
    margin-left: 2rem;
    margin-top: 11rem;
    padding: 1rem;
    margin-bottom: 6rem;
    font-style: italic;
    font-size: 1rem;
    text-align: justify;
    grid-area: user_info;
    background-color: #e5b7b7;
    border-radius: 1rem;


}

.user_info .name {
    font-weight: bold;
    font-style: italic;
    margin-right: 30rem;
}

.iva_image_profile {
    background-image: url('/static/images/about_iva_photo.jpg');
    margin-top: 8rem;
    width: 100%;
    height: 80%;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    grid-area: photo;
    border-radius: 1rem;
    opacity: 0.9;


    /*opacity: 0.8;*/


}