/*!*Article components --------------------*!*/
/*.article {*/
/*    width: calc(100vw - 16px);*/


/*}*/


/*!**/
/*!*    Articles listing*!*/
/*!*-------------------*!*/
/*!**!*!*/
/*.articles {*/
/*    display: inline-flex;*/
/*    width: 100vw;*/
/*    !*margin-left: 12px;*!*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    align-content: flex-start;*/
/*    justify-content: center;*/
/*    !*gap:8rem;*!*/

/*}*/


/*!*.articles>li{*!*/

/*!*    margin-top: 7.5rem;*!*/
/*!*}*!*/
/*.articles>li:first-of-type{*/
/*!*    width: 30%;*!*/
/*    margin-top: 6rem;*/
/*    !*vertical-align: top;*!*/
/*}*/

/*!*.articles li:nth-child(3n + 3) {*!*/
/*!*    margin-right: 0;*!*/
/*!*}*!*/

/*!*!*Article Image components --------------------*!*!*/


/*}*/

/*.article .article__img__wrapper .article__img {*/
/*    object-fit: cover;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*}*/

/*.articles {*/
/*    align-items: center;*/
/*}*/


.articles {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-left: 3.5rem;
    margin-top: 7rem;

}

.article__img {
    width: 200px;
    border-radius: 6px;
}


/*.article .article__img__wrapper {*/
/*    !*aspect-ratio: 1 / 1;*!*/
/*    border-radius: 21px;*/
/*    margin-bottom: 12px;*/
/*    overflow: hidden;*/
/*}*/

/* Article's frame------------------------*/

.article {
    max-width: 2000px;
}

.article .article__title {
    font-size: 21px;
    font-weight: bold;
    line-height: 28px;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.article .article__desc {

    font-size: 16px;
    font-weight: 300;
    color: #718096;
    line-height: 22px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;

}

/*Article Tag components --------------------*/

.tag {
    display: inline-block;
    margin-bottom: 12px;

    font-size: 14px;
    padding: 6px 12px;
    border-radius: 6px;
}

.tag.article__tag_tips {
    background-color: #90cdf4;
    color: #2c5282;
}

.tag.article__tag_fixing {
    background-color: #9ae6b4;
    color: #276749;
}

.tag.article__tag_lesson {
    background-color: #feb2b2;
    color: #9b2c2c;
}


.pagination {
    display: none;
}

/* Paginator ----------------*/

@media screen and (min-width: 360px) {
    .articles {
        margin-left: 5rem;
    }

    .article .article__desc {
        width: 13rem;

    }


}

@media screen and (min-width: 400px) {
    .articles {
        margin-left: 6.5rem;
        margin-top: 8rem;
    }

    .article .article__desc {
        width: 15rem;
    }
}

@media screen and (min-width: 460px) {
    .articles {
        margin-left: 8rem;
    }

    .article .article__desc {
        width: 15rem;
    }
}


@media screen and (min-width: 600px) {
    .articles {
        margin-left: 5rem;
        margin-top: 9rem;

    }

    .article__img {
        width: 450px;
    }

    .article .article__desc {
        width: 29rem;
    }
}

@media screen and (min-width: 640px) {
    .articles {
        margin-left: 7rem;
        margin-top: 9rem;
    }


    .article__img {
        width: 450px;
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;
        max-width: 2000px;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
    }

    .paginator .paginator-next-link {
        font-size: 0.6rem;
        margin-right: 1rem;

    }


}

@media screen and (min-width: 700px) {
    .articles {
        margin-left: 9rem;
        margin-top: 9rem;
    }

    .article__img {
        width: 450px;
    }

    .article .article__desc {
        width: 29rem;
    }

}


@media screen and (min-width: 768px) {
    .articles li {
        display: inline-block;
    }

    .articles {
        margin-left: 12rem;
        margin-top: 9rem;
    }

    .article__img {
        width: 450px;
    }

    .article .article__desc {
        width: 29rem;
    }


    #articlesSection {
        /*max-width: 1200px;*/
        margin: 0 auto;
        padding: 64px 0 calc(64px - 32px) 0;
    }

    #articlesSection .title {
        text-align: center;
        font-weight: bold;
        margin-bottom: 64px;
    }


}

@media screen and (min-width: 1024px ) {
    .articles {
        margin-left: 20rem;

    }


}

@media screen and (min-width: 1200px ) {

    .article .article__desc {
        width: 22rem;
    }

    .articles {
        margin-left: 2rem;
        flex-direction: unset;
        width: 100vw;
        align-items: flex-start;
    }

    .article .article__img__wrapper {
        width: 18rem;
        height: 18rem;

    }

    .article__img {
        width: 100%;
        height: 90%;
    }


}

@media screen and (min-width: 1400px ) {
    .articles {
        margin-left: 2rem;

    }

    .article .article__img__wrapper {
        width: 22rem;
        height: 22rem;
    }
}


@media screen and (min-width: 1500px ) {
    .articles {
        margin-left: auto;
        margin-top: 10rem;
        justify-content: center;
        gap: 3.9rem;


    }

    .article .article__img__wrapper {
        width: 26rem;
        height: 26rem;
    }



}


