
main {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    align-content: space-around;
}

h6 {
    margin-top: 26rem;
}

.consultant {
    margin-top: 4rem;

    width: 80vw;
    text-align: justify;
    padding-left: 4rem;
    padding-top: 1rem;

}

.email_sending {
    padding-left: 4rem;
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 35rem;

}

.message_announce {
    margin-bottom: 2rem;
}

form #id_subject  {
    margin-left: -10rem;
    margin-bottom: 0.5rem;
}


form {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    align-items: stretch;

}

.nutrition-span{
    font-weight: bold;
    font-style: italic;
}

.nutrition-span-question{
    font-style: italic;
    font-size: 1.25rem;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}