
html {

    background-color: #f7fafc;
    font-family: "Open Sans", sans-serif;
}

.reset__message {
    text-align: center;
    margin-left: auto;
    margin-top: 20vh;
    font-size: 2rem;
    font-weight: bold;
}


