<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/components.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/typography.css">
    <link rel="stylesheet" href="/static/css/article.css">
    <link rel="stylesheet" href="/static/css/about_me.css">
    <link rel="stylesheet" href="/static/css/consultant.css">
    <link rel="stylesheet" href="/static/css/hero.css">
    <link rel="stylesheet" href="/static/css/edit_profile.css">
    <link rel="stylesheet" href="/static/css/delete_account.css">

    <title>Nutritional Therapy Association USA - Ivelina Genova Nutrition</title>
</head>
<body>
<header class="header">

    <div class="header__logo">
        <p class="header__logo_name">Ivelina Genova</p>
        <p class="header__logo_nutrition">N U T R I T I O N</p>

        <p class="header__logo_motivation">" Begin your health journey "</p>
    </div>


    <!--    <button class="btn mobile-menu"><i class="fas fa-bars"></i></button>-->

    <nav class="header__nav">
        <ul class="nav__list">
            {% if article.article_title %}
                <li class="nav__item">
                    <a class="nav__itemlink" href="{% url 'user home page' user.pk %}">Home</a>
                </li>
            {% endif %}
            <li class="nav__item">
                <a class="nav__itemlink" href="{% url 'consultant' %}">Consultants</a>
            </li>

            <li class="nav__item">
                <a class="nav__itemlink" href="{% url 'edit profile' user.pk %}">Profile</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="{% url 'about page' %}">About</a>
            </li>

            <li class="nav__item">
                <a class="nav__itemlink" href="{% url 'user logout' %}">Log out</a>
            </li>

            <!--            <li class="nav__item">
                <a class="nav__itemlink" href="blog_page.html">Blog</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="book_page.html">Book</a>
            </li>
            <li class="nav__item">
                <a class="nav__itemlink" href="resources_page.html">Resources</a>
                            <li class="nav__item">
                <a class="nav__itemlink" href="contacts_page.html">Contact</a>
            </li>
            </li>-->

        </ul>

    </nav>
</header>


<main>

    {% block page_content %}
    {% endblock %}


</main>

{% block articles_paginator %}
{% endblock %}
<footer class="footer">
    <div class="info">
        <ul class="socials">
            <li class="socials__item">
                <a href="https://m.facebook.com/Mamatatiaz/"><i class="fab fa-facebook-f"></i></a>
            </li>
            <li class="socials__item">
                <a href="https://www.instagram.com/mama_tate_i_az/"><i class="fab fa-instagram"></i></a>
            </li>
            <!--  <li class="socials__item">
                <a href=""><i class="fab fa-twitter"></i></a>
              </li>
              <li class="socials__item">
                <a href=""><i class="fab fa-google-plus-g"></i></a>
              </li>
              <li class="socials__item">
                <a href=""><i class="fab fa-youtube"></i></a>
              </li> -->

        </ul>
        <p>© 2022 - All Rights Reserved. <br/>Ivelina Genova Nutrition.</p>
    </div>

</footer>
</body>
</html>